<div class="container text-center">
<h1>This is about practicing making websites.</h1>
<p>We are devmatch blah blah blah. Some community thing for devs and enterpreneurs. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic natus maiores quis aliquam commodi, enim labore inventore ipsa unde sint perferendis, ducimus? Exercitationem asperiores corporis excepturi in numquam, libero deserunt!</p>
</div>